<p>I want to:<br/ ><br />
 
1) Accept a challenge:<br/ ><br />
 
  If you've been challenged by a specific opponent, look for their username in the "My Challenges" table below. Otherwise, if you'd like to play against a stranger, scroll through the list of Open Challenges below and find an opponent who interests you. Then, click "Have At Thee!" and your game will begin.<br/ ><br />
 
2) Challenge a specific opponent:<br/ ><br />
 
  Enter your opponent's user name here, click "I Challenge You!" and wait for them to accept. (If you challenge them and they've already challenged you, your game will automatically begin.)<br/ ><br />

  I challenge: <form><input type="text" name="challenged"><input type="submit" name="submit button"></form><br/ ><br />
 
3) Issue an Open Challenge:<br/ ><br />
 
  If you want to issue an Open Challenge, click the gauntlet below. Once an opponent accepts your challenge, the match will be added to your list of current games. (If it says "Dropped" next to your gauntlet, it means you've issued an open challenge and are waiting for someone to accept.)</p>

  <div class="placeholder">
    <p>Gauntlet: Dropped!</p>
  </div>

  <div class="placeholder">
    <p>Challenges Feed</p>
  </div>
