<!--Call back for facebook sign in
Temporarily on this page until we finalize the layout of the app-->
    
<!-- Introductory Text -->

<div class="row">
  <div class="col-5 offset-1 blue-box">
    <p>Welcome to WAR &amp; PIECE, an extremely gritty and realistic medieval warfare simulator that only coincidentally resembles chess! You and an opponent play against each other as the cunning strategists of a team of highly trained warriors. Command units belonging to a wide range of character classes, such as Bishop, Pawn and Rook!<br /><br />
   
    Here’s how it works: [Sign up], [log in] and then decide whether you want to play against a friend or against a stranger. Once you’ve decided, click [Start A New Game] in the navigation bar above.<br /><br />
     
    If you’d like to play against a friend, type in their username in the “Challenge” box and click the “Have At Thee!” button. If they’ve already challenged you, just click “I Accept!” on your Challenges Menu, which you can find on your [dashboard] or at the bottom of this page once you've signed in.<br /><br />
     
    If you’d like to play against a stranger, just look through the list of Open Challenges on the [Start A New Game] page and accept one. If you don’t see anyone you’d like to play against, issue an Open Challenge and wait for someone to accept.<br /><br />
     
    Then the fun begins! You can see the progress of your latest game on the homepage once you've signed in, and can cycle through your games by using the drop-down menu above the chessbo- er, battlefield map.</p>
  </div>

<!-- Homepage Image -->
  <div class="col-4 placeholder home-image">
    <img src="<%= image_url "placeholder.jpg" %>" class="img-fluid">
  </div>
</div>
<div class="col-10 offset-1 placeholder">
  <div class="placeholder">
    <%= link_to 'New Game', games_path( { game: { white_player: current_user, game_state: "pending" } } ), class: 'btn btn-primary btn-large', method: :post %>
  </div>
</div>