<h1 class="page_heading">Privacy Policy</h1>
<br />
<h6>1.	Introduction</h6>
<p>1.1	We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will handle your personal data.</p>
<p>1.2	By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</p>
<br />
<h6>2.	Credit</h6>
<p>2.1	This document was created using a template from <%= link_to 'http://www.seqlegal.com' do %><span>SEQ Legal (http://www.seqlegal.com).</span><% end %></p>
<br />
<h6>3.	How we use your personal data</h6>
<p>3.1	In this Section 3 we have set out:</p>
<p>(a)	the general categories of personal data that we may process;</p>
<p>(b)	in the case of personal data that we did not obtain directly from you, the source and specific categories of that data;</p>
<p>(c)	the purposes for which we may process personal data; and</p>
<p>(d)	the legal bases of the processing.</p>
<p>3.2	We may process data about your use of our website and services ("usage data"). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is our legitimate interests, namely monitoring and improving our website and services.</p>
<p>3.3	We may process your account data ("account data"). The account data may include your name and email address. The source of the account data is you. The account data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website.
<p>3.4	We may process your information included in your personal profile on our website ("profile data"). The profile data may include your name, email address, profile pictures. The profile data may be processed for the purposes of enabling and monitoring your use of our website and services. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.
<p>3.5	We may process your personal data that are provided in the course of the use of our services ("service data"). The source of the service data is you. The service data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
<p>3.6	We may process information that you post for publication on our website or through our services ("publication data"). The publication data may be processed for the purposes of enabling such publication and administering our website and services. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business.</p>
<p>3.7	We may process information contained in any enquiry you submit to us regarding products and/or services ("enquiry data"). The enquiry data may be processed for the purposes of offering relevant services to you. The legal basis for this processing is consent.</p>
<p>3.8	We may process information that you provide to us for the purpose of subscribing to our email notifications ("notification data"). The notification data may be processed for the purposes of sending you the relevant notifications. The legal basis for this processing is consent.</p>
<p>3.9	We may process information contained in or relating to any communication that you send to us ("correspondence data"). The correspondence data may include the communication content and metadata associated with the communication. Our website will generate the metadata associated with communications made using the website contact forms. The correspondence data may be processed for the purposes of communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business and communications with users.</p>
<p>3.10	In addition to the specific purposes for which we may process your personal data set out in this Section 3, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
<p>3.11	Please do not supply any other person's personal data to us, unless we prompt you to do so.</p>
<br />
<h6>4.	Providing your personal data to others</h6>
<p>4.1	We may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
<br />
<h6>5.	International transfers of your personal data</h6>
<p>5.1	You acknowledge that personal data that you submit for publication through our website may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such personal data by others.</p>
<br />
<h6>6.	Retaining and deleting personal data</h6>
<p>6.2	We may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
<br />
<h6>7.	Amendments</h6>
<p>7.1	We may update this policy from time to time by publishing a new version on our website.</p>
<p>7.2	You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
<br />
<h6>8.	Cookies used by our service providers</h6>
<p>8.1	Our service providers use cookies and those cookies may be stored on your computer when you visit our website.</p>
