<div class="blue-box">
  <h1 class="page_heading">Privacy Policy</h1>
  <br />
  <h4>1.	Introduction</h4>
  <p>By using our website you consent to the terms of this policy.</p>
  <br />
  <h4>2.	Credit</h4>
  <p>This document was created using a template from <%= link_to 'http://www.seqlegal.com' do %><span>SEQ Legal (http://www.seqlegal.com).</span><% end %></p>
  <br />
  <h4>3.	How we use your personal data</h4>
  </ol>
  <p> We will NOT share your data for commercial purposes! We open sourced our code and built this cool chess web app for fun and for the learning experience.</p>
  <p>Users need to sign up so they can play several games simultaneously, and play the same game at different times and from different devices!</p>
  <p>Here are the legal bits:</p>

  <p>3.1	We may process your account data ("account data"). The account data may include your name, username and email address. The source of the account data is you. The account data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the proper administration of our website.
  <p>3.2	We may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>
  <p>3.3	Please do not supply any other person's personal data to us, unless we prompt you to do so.</p>
  <br />
  <h4>4.	International transfers of your personal data</h4>
  <p>You acknowledge that personal data that you submit for publication through our website may be available, via the internet, around the world. We cannot prevent the use (or misuse) of such personal data by others.</p>
  <br />
  <h4>5.	Amendments</h4>
  <p>5.1	We may update this policy from time to time by publishing a new version on our website.</p>
  <p>5.2	You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
  <br />
  <h4>6.	Cookies</h4>
  <p>6.1	Cookies may be stored on your computer when you visit our website.</p>
</div>
