<div class="blue-box">
  <h1 class="page_heading">Team</h1>
  <br />
  <p>War & Piece is a chess application built as part of <a href="http://www.thefirehoseproject.com">The Firehose Project</a> software engineering bootcamp.</p>
  <br />
  <p>During the project, <a href="https://github.com/cldambrosio">cldambrosio</a>, <a href="https://github.com/garyravago">garyravago</a>, <a href="https://github.com/RajSannidhi">RajSannidhi</a>, <a href="https://github.com/reneesandefur">reneesandefur</a> and <a href="https://github.com/hereismyusername">hereismyusername</a> worked as a remote agile web development team under the guidance of experienced software engineer <a href="https://github.com/rosalinekarr">rosalinekarr</a>.</p>
  <br />
  <p>The code and further details about the project can be found on <a href="https://github.com/rosalinekarr/WarAndPiece">GitHub</a>.</p>
</div>
