<h1>Pieces show page goes here</h1>

<div class="chessboard">

  <div class="pieces">
    <% file = 0 %>
    <% rank = 9 %>

    <% 8.times do %>
      <% rank = rank - 1 %>
      <% 8.times do %>
        <% file = file + 1 %>
          <ul class="square">
            <li id="<%= [file, rank] %>">
              <% if @piece_coord == [file, rank] %><!-- WILL NEED TO CHECK HERE if 
                                   `[file, rank]` returns the expected format -->
                <div class="highlight">
                  <p><%= "#{file}, #{rank}" %></p>
                </div>
              <% else %>
                <div>
                  <%= link_to piece_path(@current_piece), method: :patch do %>
                    <p><%= "#{file}, #{rank}" %></p>
                  <% end %>
                </div>
              <% end %>
            </li>
          </ul>
        <% end %>
      <br />
      <% file = 0 %>
    <% end %>
  </div>

</div>