
<!-- Homepage Text -->

<!-- Homepage Image -->

<!-- Challenges Feed -->

<div class="challenge-feed">
  <% @pending_games.each do |game| %>
    <div class="row">
      <div class="col-sm-8 col-12">
        <%= game %> <!-- display name of user that created the game? -->
      </div>
      <div class="col-sm-4 col-12 text-center">
        <%= link_to 'Have at thee!', game_join_path(game), class: 'btn btn-primary btn-large', method: :post %>
      </div>
    </div>
  <% end %>
</div>