<div class="col-10 offset-1">
  <h1>"Here's the games#index view"</h1>

  <% @games.each do |game| %> 
    <div class="row">
      <div class="col-sm-8 col-12">
        <%= game. %> <!-- display name of user that created the game? -->
      </div>
      <div class="col-sm-4 col-12 text-center">
        <%= link_to 'Have at thee!', join_games_path(@game), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
  <% end %>
</div>
