<!--

<script>

class Square {
  constructor(file, rank, render) {
    this.file = file
    this.rank = rank
    this.render = render
  }
}

$(.chessboard() {
  let file = 0
  let rank = 9
  while (rank > 0) {
    rank -= 1
    while (file < 9) {
      file += 1
      let pos = "square" + file + rank
      if (file = 8) {
        let render = <div class="square"></div>
      }
      } else {
        let render = <div class="square"></div><br />
      }
      const pos.inspect = new Square(file, rank, render)
      $(pos.inspect.render().droppable {
        // Change file and rank of dragged piece to file and rank of pos.inspect       
      };
    };
  };
  <br />
  file = 0
};

-Upon drag and drop, perform the following anonymous function:
  -Make the piece draggable with jquery.
  -Make the piece snap to the center of div tags with the class "square".
-end

-Upon page load, perform the following anonymous function:
  -For each piece, do:
    -Determine the current rank and file of the piece
    -Find the square corresponding to that rank and file
    -Display the piece name on that square.
  -end
-end

</script>

-->

<div class="row">

  <div class="col-8 placeholder">

    <!-- Game Selection Modal or Drop-down -->

    <div class="placeholder">
      <p>Game Name + Game Selector Drop Down or Modal</p>
    </div>

    <!-- Game Board -->

    <div class="chessboard">

      <div class="grid">
        <% file = 0 %>
        <% rank = 9 %>
        <% 8.times do %>
          <% rank = rank - 1 %>
          <% 8.times do %>
            <% file = file + 1 %>
            <div class="square">
              <div class=<%= "file#{file}rank#{rank}" %>>
                <% current_game.pieces.each do |piece| %>
                  <% if piece.rank == rank && piece.file == file %>
                    <div class="piece-icon">
                      <%= "#{piece.color} #{piece.type}" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <br />
          <% file = 0 %>
        <% end %>
      </div>

    </div>

    <!-- Challenges Feed -->

    <div class="placeholder">
      <p>Challenges Feed/Current Games List</p>
    </div>
  </div>

  <div class="col-4 placeholder">

    <!-- Player Name Display -->

    <div class="placeholder">
      <h1>White Player</h1> <h3>vs.</h3> <h1>Black Player</h1>
    </div>

    <!-- Captured Pieces Display -->

    <div class="placeholder captured-display">
      <p>Captured Pieces Display</p>
    </div>

    <!-- Surrender button and modal -->

    <div class="show-button">
      <button>Surrender</button>
    </div>

    <!-- Truce button and modal -->

    <div class="show-button">
      <button>Truce</button>
    </div>

    <!-- Cute image and possibly check/checkmate indicator? -->

    <div class="placeholder show-image">
      <p>Image</p>
    </div>

  </div>

</div>

