<script>

function setup () {
  $('.player-pieces').draggable({
    snap: '.square'
  });

  $('.square').droppable({
    drop: function( event, ui ) {
      const square = this
      const icon = ui.draggable
      const sq_rank = $(square).data('rank')
      const sq_file = $(square).data('file')
      $.ajax({
        type: 'PUT',
        url: icon.data('update-url'),
        dataType: 'script',
        data: { piece: { rank: sq_rank, file: sq_file } }
      });
    }

  });
  
  $('.piece-icon').each( function() {
    var o = $(this);
    if( ! o.attr('title') && o.attr('alt') ) o.attr('title', o.attr('alt') );
  });
}

$(function() {
  setup()
});
  
</script>

<div class="row">

  <div class="col-8 placeholder">

    <!-- Game Selection Modal or Drop-down -->

    <div class="placeholder">
      <p>Game Name + Game Selector Drop Down or Modal</p>
    </div>

    <!-- Game Board -->

    <div class="chessboard">

      <div class="grid">
        <%= render partial: "grid", locals: {game: current_game} %>
      </div>

    </div>

    <!-- Challenges Feed -->

    <div class="placeholder">
      <p>Challenges Feed/Current Games List</p>
    </div>
  </div>

  <div class="col-4 placeholder">

    <!-- Player Name Display -->

    <div class="placeholder">
      <h1>White Player</h1> <h3>vs.</h3> <h1>Black Player</h1>
    </div>

    <!-- Captured Pieces Display -->

    <div class="placeholder captured-display">
      <h5>Captured Pieces</h5>
      <%= render partial: "captured-display", locals: {game: current_game} %>
    </div>

    <!-- Surrender button and modal -->

    <div class="show-button">
      <button>Surrender</button>
    </div>

    <!-- Truce button and modal -->

    <div class="show-button">
      <button>Truce</button>
    </div>

    <!-- Cute image and possibly check/checkmate indicator? -->

    <div class="placeholder show-image">
      <p>Image</p>
    </div>

  </div>

</div>

