<h1>Game show page goes here</h1>

<!-- Game Selection Modal or Drop-down -->

<div>
  
</div>

<!-- Game Board -->

<div class="chessboard">

  <div class="grid">
    <% file = 0 %>
    <% rank = 9 %>

    <% 8.times do %>
      <% rank = rank - 1 %>
      <% 8.times do %>
        <% file = file + 1 %>
        <div class="square">
          <div class=<%= "file#{file}rank#{rank}" %>>
            <% current_game.pieces.each do |piece| %>
              <% if piece.rank == rank && piece.file == file %>
                <%= "#{piece.color} #{piece.type}" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <br />
      <% file = 0 %>
    <% end %>
  </div>

</div>

<!-- Challenges Feed -->

<div>
  
</div>

<!-- Player Name Display -->

<div>

</div>

<!-- Captured Pieces Display -->

<div>
  
</div>

<!-- Surrender button and modal -->

<div>
  
</div>

<!-- Truce button and modal -->

<div>
  
</div>

<!-- Cute image and possibly check/checkmate indicator? -->

<div>
  
</div>

