@import "bootstrap";

.chessboard {
  background: image_url('pixelboard.png');
  background-size: cover;
  width: 500px;
  height: 500px;
}

.square {
  width: 12.5%;
  height: 12.5%;
  color: grey;
  text-align: center;
  float: left;
}

.highlight {
  width: 100%;
  height: 100%;
  background-color: #ffdd55
}

.game-list {
  padding-top: 50px;

  p {
    color: red;
    font-size: 20px;
  }
}

.grid {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  margin-right: auto;
  margin-left: auto;
}

.placeholder {
  border-style: dashed;
  border-color: grey;
  min-height: 3em;
  text-align: center;
}

.home-image {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 2em;
}

.nav-item:last-child {
  margin-right: 0;
}

.show-button {
  display: inline-block;
}

.captured-display {
  min-height: 150px;
  min-width: 150px;
}

.show-image {
  min-height: 150px;
  min-width: 150px;
}

.piece-icon {
  height: 100%;
}

.player-pieces {
  height: 100%;
  display: block;
  margin: auto;
}

.opponent-pieces {
  height: 100%;
  display: block;
  margin: auto;
}

.opponent-turn {
  pointer-events: none;
}

.whose-turn {
  opacity: 0.0;
  padding: 0;
  margin: 0;
}