@import "bootstrap";

.chessboard {
  background: image_url('chessboard.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
}

.square {
  width: 12.5%;
  height: 12.5%;
  color: grey;
  text-align: center;
  float: left;
}

.game-list {
  padding-top: 50px;

  p {
    color: red;
    font-size: 20px;
  }

.grid {
  height: 100%;
  width: 100%;
}