@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  background: image_url('grass-pattern.png');
}

a {
  color: #d9d9d9;
  text-shadow: 2px 2px 2px #000000;
}

a:hover {
  color: #d9d9d9;
}

.topnav {
  font-family: "Press Start 2P", Lucida Console, sans-serif;
  font-size: 16px;
  background-size: 60px;
  width: 100%;
}

.rockslab {
  width: 60%;
  margin: auto;
  box-shadow: 5px 5px 5px black;
  background: image_url('rock-pattern.png');
  background-size: 10%;
}

.rockslab a {
  background-color: black;
  color: transparent;
  text-shadow: 2px 2px #d9d9d9;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.topnav h1 {
  font-family: "VT323", Lucida Console, sans-serif;
  font-size: 60px;
}

.blue-box {
  background-color: #2E4172;
  border-radius: 25px;
  border-style: solid;
  border-width: 6px;
  color: white;
  font-family: "VT323", Lucida Console, sans-serif;
  font-size: 24px;
  padding: 16px;
  margin: 12px;
  box-shadow: 3px 3px 3px black;
  text-shadow: 1px 1px 1px black;
}

.player-display {
  font-family: "Press Start 2P", Lucida Console, sans-serif;
  font-size: 24px;
}

.chessboard {
  background: image_url('pixelboard.png');
  background-size: cover;
  width: 700px;
  height: 700px;
  margin: 12px;
}

.square {
  width: 12.5%;
  height: 12.5%;
  color: grey;
  text-align: center;
  float: left;
}

.highlight {
  width: 100%;
  height: 100%;
  background-color: #ffdd55
}

.game-list {
  padding-top: 50px;

  p {
    color: red;
    font-size: 20px;
  }
}

.grid {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  margin-right: auto;
  margin-left: auto;
}

.placeholder {
  border-style: dashed;
  border-color: grey;
  min-height: 3em;
  text-align: center;
}

.home-image {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 2em;
}

.nav-item:last-child {
  margin-right: 0;
}

.show-button {
  display: inline-block;
}

.captured-display {
  min-height: 150px;
  min-width: 150px;
}

.show-image {
  min-height: 150px;
  min-width: 150px;
}

.piece-icon {
  height: 100%;
}

.player-pieces {
  height: 100%;
  display: block;
  margin: auto;
}

.opponent-pieces {
  height: 100%;
  display: block;
  margin: auto;
}

.opponent-turn {
  pointer-events: none;
}

.intro-box {
  text-align: center;
}